<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="Nlog/internalLog.txt">

	<extensions>
		<add assemply="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="all_logs" fileName="Nlog/all.log"/>
		<target xsi:type="File" name="relevant_logs" fileName="Nlog/relevant.log"/>
		<target xsi:type="File" name="errors_logs" fileName="Nlog/error.log"/>
		<target xsi:type="File" name="info_logs" fileName="Nlog/info.log"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="all_logs"/>
		<logger name="*" minlevel="Warn" writeTo="relevant_logs"/>
		<logger name="*" minlevel="Error" writeTo="errors_logs"/>
		<logger name="*" minlevel="Info" writeTo="info_logs"/>
	</rules>
</nlog>	